
body {
  background: linear-gradient(#00000033, #e9b4d3, #00000033);
  text-align: center;
  font-family: 'Graphik-Regular','Gotham SSm A','Gotham SSm B','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 60px;
}

header {
  color: #06738f;
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: center;
}

p {
  font-size: larger;
}

#inputMsg {
  height: 15px;
  width: 400px;
  margin: 1% 0 2% 0;
  padding: 1%;
  font-weight: normal;
  font-size: 18px;
  border: 1.5px solid #1AA6B7;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow: hidden;
}

#offset {
  height: 15px;
  width: 50px;
  margin: 1% 0 2% 0;
  padding: 1%;
  font-weight: normal;
  font-size: 18px;
  border: 1.5px solid #1AA6B7;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
}

.button {
  margin: 10px;
  padding: 15px;
  color: #fff;
  background-color: rgb(155, 26, 172);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover, .button:focus {
  background-color: #1687a3;
  color: #fff;
  outline: none;
}

.button:disabled {
  background-color: rgb(145, 161, 163);
  cursor: no-drop;
}

#result {
  color: rgb(146, 49, 105);
  font-size: large;
  margin: 20px;
}

footer {
  font-size: small;
  margin-top: 60px;
  color: #06738f  
}